<div class="text-danger" *ngIf="control && control.errors && (control.dirty || control.touched)">
    <div *ngIf="control.errors.required"><small>This field is required</small></div>
    <div *ngIf="control.errors.unique"><small>{{control.errors.unique}}</small></div>
    <div *ngIf="control.errors.lessThen"><small>{{control.errors.lessThen}}</small></div>
    <div *ngIf="control.errors.greaterThan"><small>{{control.errors.greaterThan}}</small></div>
    <div *ngIf="control.errors.email"><small>Please enter a valid email</small></div>
    <div *ngIf="control.errors.mobile"><small>{{control.errors.mobile}}</small></div>
    <div *ngIf="control.errors.confirmation"><small>Both passwords don't match</small></div>
    <div *ngIf="control.errors.login"><small>Incorrect email / password</small></div>
    <div *ngIf="control.errors.register"><small>{{control.errors.register}}</small></div>
</div>